h1{
    color : skyblue;
    background-color: black;
    font-family: monospace;
    text-align: center;
    font-size: 50px;
}

p{
    color: goldenrod;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.c1{
    color: aqua;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
}
H2{
    text-align: center;
    text-decoration: underline;
}